/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

*.unitypackage
*.unitypackage.meta

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.vsconfig

/.vs/
/.idea/
/.vscode/
/.gradle/
/ExportedObj/
.consulo/

*.apk
*.aab
*.app
*.ipa
*.exe
*.dmg
sysinfo.txt
crashlytics-build.properties

/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
InitTestScene*.unity
InitTestScene*.unity.meta

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/